In [1]:
import pandas as pd
import os
from pathlib import Path

In [ ]:
filename_list = os.listdir("./Resources/")

In [ ]:
print(filename_list)

In [ ]:
# for file in filename_list:
#     if(file!='Technology Sector List.csv' and file!='MutualFunds.csv' and file!='ETFs.csv' and file!='.gitkeep'):
#         df = pd.read_csv(Path(f"./Resources/{file}"))
#         df.columns.str.lower()
#         display(df)
df = pd.read_csv(Path(f"./Resources/ZS_data.csv"))
df.columns.str.lower()
display(df)

In [4]:
df = pd.read_csv(Path("./Resources/ZS_data.csv"))

display(df)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2018-03-16,33.470001,26.059999,27.500000,33.000000,16931900,33.000000
1,2018-03-19,31.500000,26.750000,31.450001,27.900000,5892100,27.900000
2,2018-03-20,30.903999,28.070000,28.410000,30.379999,3262000,30.379999
3,2018-03-21,34.830002,29.290001,30.790001,31.080000,4460900,31.080000
4,2018-03-22,31.879999,28.559999,30.000000,29.830000,3239500,29.830000
...,...,...,...,...,...,...,...
673,2020-11-16,134.169998,127.000000,128.990005,133.520004,2650800,133.520004
674,2020-11-17,137.850006,132.500000,135.080002,136.639999,1347400,136.639999
675,2020-11-18,139.000000,132.929993,136.990005,135.380005,1272800,135.380005
676,2020-11-19,141.500000,136.080002,136.149994,138.539993,1474700,138.539993
677,2020-11-20,144.960007,139.009995,139.990005,143.009995,1491400,143.009995

In [5]:
df = pd.read_csv(Path("./Resources/ZS_data.csv"))
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2018-03-16,33.470001,26.059999,27.500000,33.000000,16931900,33.000000
1,2018-03-19,31.500000,26.750000,31.450001,27.900000,5892100,27.900000
2,2018-03-20,30.903999,28.070000,28.410000,30.379999,3262000,30.379999
3,2018-03-21,34.830002,29.290001,30.790001,31.080000,4460900,31.080000
4,2018-03-22,31.879999,28.559999,30.000000,29.830000,3239500,29.830000
...,...,...,...,...,...,...,...
673,2020-11-16,134.169998,127.000000,128.990005,133.520004,2650800,133.520004
674,2020-11-17,137.850006,132.500000,135.080002,136.639999,1347400,136.639999
675,2020-11-18,139.000000,132.929993,136.990005,135.380005,1272800,135.380005
676,2020-11-19,141.500000,136.080002,136.149994,138.539993,1474700,138.539993
677,2020-11-20,144.960007,139.009995,139.990005,143.009995,1491400,143.009995